@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  color: white;
  background-color: #212121;
  transition: all ease-in-out 0.2s;
  overflow-x: hidden;
}

p {
  font-size: 1.2rem !important;
  line-height: 30px !important;
}

li {
  font-size: 1.15rem !important;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #23ce6b;
}

li {
  list-style: none;
}

span {
  color: #23ce6b;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* _______________________-Dashboard_____________________ */

.tech {
  padding: 5px 20px;
  color: black;
  border-radius: 15px;
  background-color: rgb(233, 224, 224);
  margin-bottom: 5px;
}

.post_form {
  width: 500px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.post_form input {
  width: 90%;
  padding: 16px;
  border: 1px solid #a9a5a5;
  border-radius: 4px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
}

.submit-button {
  width: 97%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 13px 20px;
  cursor: pointer;
  font-size: 1.2rem;
}

.submit-button:hover {
  background-color: #0056b3;
}

.dash_container {
  width: 100%;
  display: flex;
}

.dash_left {
  width: 46%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash_right {
  width: 52%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
}

.dash_right::-webkit-scrollbar {
  display: none;
}

.dash_msg {
  background-color: white;
}

.dash_msg_container {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dash_msg_container h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 2.3rem;
}

.msg {
  width: 80%;
  height: auto;
  border-bottom: 1px solid rgb(165, 161, 161);
  position: relative;
}

.msg h4 {
  font-size: 1.4rem;
  margin: 0px;
  padding: 30px 0px 0px 10px;
}

.msg h5 {
  font-size: 1.2rem;
  margin-top: 10px;
  padding-left: 10px;
}

.msg_delete {
  position: absolute;
  right: 30px;
  top: 20px;
  cursor: pointer;
}

.projects {
  min-height: 100vh;
  max-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
}

.projects_page_top {
  margin: 40px 0px 30px 0px;
  width: 82%;
  border-bottom: 1px solid rgb(207, 199, 199);
}

.projects_page_top h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  text-align: center;
  color: black;
}

.projects_page_top p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  text-align: center;
  color: black;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.project_tech {
  padding: 6px 32px;
  cursor: pointer;
}

.project_details {
  margin-top: 100px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project_details_container {
  height: 100%;
  width: 80%;
}

.project_details_container h1 {
  font-size: 2.1rem;
}

.project_details_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.project_details_img img {
  border-radius: 10px;
}

.project_details h3 {
  font-size: 1.5rem;
}

.project_details p {
  font-size: 1.1rem;
}

.detail_btn {
  border-radius: 0;
  width: 120px;
  background-color: #2a5700;
  border: 1px solid #2a5700;
  border-radius: 5px;
}

.detail_2_btn {
  background-color: #2424ff;
  border: 1px solid #2424ff;
}

.detail_btn:hover {
  background-color: #3d3df9;
}

.used {
  margin-top: 50px;
}

.github_img {
  cursor: pointer;
  display: flex;
  gap: 15px;
}

.dash_card {
  max-width: 345px;
  background-color: white !important;
  border: 1px solid green;
}

.dash_card:hover {
  background-color: whitesmoke !important;
}

.form_heading {
  font-size: 1.5rem;
  color: black;
}

.dash_name {
  color: black;
}

.logout_btn {
  width: 100px;
  padding: 12px;
  font-size: 1.06rem;
  border: 2px solid forestgreen;
  border-radius: 7px;
  cursor: pointer;
  background-color: transparent;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  right: 50px;
  top: 31px;
}

.logout_div {
  position: relative;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .dash_container {
    flex-direction: column;
    gap: 70px;
  }

  .dash_left,
  .dash_right {
    width: 100%;
  }

  .dash_right {
    justify-content: space-evenly;
  }

  .post_form {
    width: 90%;
  }

  .submit-button {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .projects_page_top h1 {
    font-size: 2.2rem;
  }

  .msg h4 {
    font-size: 1.2rem;
  }

  .msg h5 {
    font-size: 1rem;
  }
}

/* -------------Loader------------- */

.spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------NAVBAR-------------- */

nav {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav_active {
  backdrop-filter: blur(6px);
}

.logo {
  font-size: 2.3rem;
  font-weight: 500;
  font-family: bruno ace;
}

.hamburger {
  display: none;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.inner_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.inner_menu a {
  font-size: 0.95rem;
  font-weight: 550;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease-in-out 0.2s;
}

.inner_menu a:hover {
  color: gainsboro;
}

.user_icon {
  color: #23ce6b;
  transition: all ease-in-out 0.2s;
}

.user_icon:hover {
  color: #157c40;
}

@media screen and (max-width: 800px) {
  .inner_menu,
  .menu {
    gap: 30px;
  }

  a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 800px) {
  .hamburger {
    display: block;
  }

  .inner_menu {
    width: 100vw;
    flex-direction: column;
    padding: 20px 0px;
    position: absolute;
    top: 70px;
    left: -100%;
    background-color: #212121;
    transition: all ease-in-out 0.4s;
  }

  .inner_menu.active {
    left: 0%;
  }

  .msg {
    width: 97%;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    margin-right: 35px;
  }

  .menu {
    gap: 10px;
  }

  .inner_menu.active {
    right: 90%;
  }

  .dash_msg_container h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .inner_menu.active {
    right: 70%;
  }
}

/* ---------------HOME--------------- */

#home {
  width: 100%;
  height: 100vh;
  margin-top: 70px;
}

.home_container {
  width: 100%;
  height: 94%;
  display: flex;
  align-items: center;
}

.home_left {
  width: 50%;
  display: flex;
  justify-content: right;
  margin-bottom: 35px;
}

.home_content {
  width: 83%;
}

.hello_para {
  font-size: 100px;
}

.home_heading {
  font-size: 4rem;
  line-height: 60px;
  margin: 6px 0px;
  font-family: bruno ace;
}

.home_heading_two {
  font-size: 1.7rem;
  line-height: 20px;
}

.home_para {
  font-size: 1.1rem;
  line-height: 26px;
  font-weight: lighter;
  color: rgb(228, 226, 226) !important;
}

.home_right {
  width: 54%;
  height: 70%;
  margin-top: 15px;
}

.obaid_img {
  width: 70%;
  height: 100%;
  border-radius: 50%;
  margin-left: 100px;
}

@media screen and (max-width: 800px) {
  #home {
    height: auto;
  }

  .home_container {
    flex-direction: column;
  }

  .home_left {
    width: 100%;
    justify-content: center;
    margin-top: 65px;
  }

  .home_right {
    display: none;
  }

  .home_heading {
    font-size: 3.8rem;
  }

  .home_content {
    text-align: center;
  }

  .home_para {
    font-size: 1rem;
  }

  .home_btn {
    padding: 18px 40px;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    font-size: 1.7rem;
  }

  .home_content p {
    font-size: 1.1rem;
    color: rgb(228, 226, 226) !important;
  }

  .home_heading {
    font-size: 3rem;
  }

  .home_heading_two {
    font-size: 1.5rem;
  }

  .home_btn {
    font-size: 1rem;
  }

  .btn_a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* --------------ABOUT------------ */

#about {
  width: 100%;
  height: 98vh;
}

.about_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_left {
  width: 45%;
  height: auto;
  text-align: center;
}

.about_left img {
  width: 74%;
  margin-top: 20px;
}

.about_right {
  width: 52%;
}

.about_heading {
  font-size: 2.5rem;
  font-family: bruno ace;
}

.about_para_one,
.about_para_two {
  font-size: 1.1rem;
  line-height: 25px;
  color: rgb(224, 219, 219) !important;
}

.skill_heading {
  margin-top: 30px;
}

.logos {
  width: 80%;
  display: flex;
  gap: 25px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.logos img {
  width: 7%;
}

@media screen and (max-width: 800px) {
  #about {
    height: auto;
  }

  .about_container {
    flex-direction: column;
  }

  .about_left {
    display: none;
  }

  .about_right {
    width: 80%;
    margin-top: 40px;
  }

  .about_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about_para_one,
  .about_para_two {
    text-align: center;
  }

  .about_heading {
    text-align: center;
  }

  .logos {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 500px) {
  .about_heading {
    font-size: 2.1rem;
    width: 220px;
  }

  .about_para_one,
  .about_para_two {
    font-size: 1rem;
  }

  .logos {
    width: 100%;
  }

  .logos img {
    width: 14%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.react {
  animation: rotate 5s linear infinite;
}

/* ---------------PORTFOLIO------------ */

#portfolio {
  width: 100%;
  height: auto;
  margin-top: 100px;
}

.portfolio_heading {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 80px;
  padding-top: 50px;
  font-family: bruno ace;
}

.portfolio_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.portfolio_card {
  width: 400px;
  color: white;
  border-radius: 15px;
  margin-bottom: 30px;
  text-decoration: none;
  background-color: rgb(43, 43, 43);
  transition: all ease-in-out 0.2s;
}

.card_inner {
  padding-left: 12px;
}

.upper {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.github_img {
  width: 8%;
  padding: 10px 45px 0px 0px;
}

.github_img img {
  width: 40px;
}

.file_img {
  width: 25%;
  height: 50%;
  margin-top: 15px;
}

.portfolio_para {
  line-height: 22px;
}

.portfolio_bottom {
  display: flex;
  gap: 20px;
}

.portfolio_card:hover {
  background-color: #e31f71;
  transform: scale(1.02);
}

@media screen and (max-width: 795px) {
  .portfolio_heading {
    font-size: 1.8rem;
  }

  .portfolio_card {
    width: 92%;
  }

  .portfolio_para {
    font-size: 1.1rem !important;
  }

  .github_img img {
    width: 30px;
  }
}

/* -----------CONTACT------------- */

#contact {
  width: 100%;
  height: 140vh;
  padding-top: 50px;
}

.contact_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_heading {
  font-size: 2.4rem;
  text-align: center;
  margin-top: 100px;
  font-family: bruno ace;
}

.contact_para {
  padding: 0px 5px;
  text-align: center;
  font-size: 1.05rem;
}

.contact_btns {
  text-align: center;
  margin-top: 30px;
}

.emails img,
.phone img {
  width: 40px;
}

.phone,
.emails {
  width: 300px;
  border-radius: 19px;
  background-color: #23ce6b;
  padding: 7px 0px;
  margin-right: 10px;
  border: none;
  transition: all ease-in-out 0.2s;
}

.emails:hover,
.phone:hover {
  color: white;
  background-color: #e31f71;
}

.contact_heading_two {
  font-size: 1.5rem;
  text-align: center;
  margin: 60px 0px 60px 0px;
}

.contact_form {
  width: 40%;
  height: 35%;
  display: flex;
  flex-direction: column;
}

.cemail,
.message,
.submit {
  margin-bottom: 10px;
  border-radius: 10px;
  color: white;
  background-color: transparent;
  border: 1px solid #23ce6b;
  font-size: 1.05rem;
}

.cemail {
  width: 95%;
  padding: 13px 11px;
}

.message {
  padding: 13px 16px;
  height: 200px !important;
}

.submit {
  padding: 14px 15px;
  color: white;
  border: none;
  border-radius: 17px;
  background-color: #23ce6b;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.submit:hover {
  background-color: #1ca556;
}

@media screen and (max-width: 800px) {
  .contact_form {
    width: 400px;
    margin-left: 0%;
  }

  .contact_btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

@media screen and (max-width: 500px) {
  .contact_form {
    width: 340px;
    margin-bottom: 10px;
  }

  .cemail {
    width: 93%;
  }

  .contact_heading {
    font-size: 1.8rem;
  }
}

/* ------------FOOTER------------ */
footer {
  height: 50vh;
  margin-top: 150px;
}

.footer_container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.footer_logo h1 {
  margin: 0;
  font-size: 2rem;
  font-family: bruno ace;
}

.line h3 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.line ul li {
  font-size: 1rem;
  margin-bottom: 10px;
  cursor: pointer;
}

.line ul {
  padding: 0;
}

.social_link h3 {
  margin-bottom: 25px;
}

.links {
  display: flex;
  gap: 15px;
}

.end {
  padding: 20px 0px;
  text-align: center;
}

.footer_logo {
  margin-left: 140px;
  margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
  footer {
    margin-top: 150px;
    flex-direction: column;
  }

  footer .logo {
    margin: 0%;
  }

  .footer_container {
    justify-content: start;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 25px;
  }

  .footer_logo {
    margin: 0px 0px 25px 20px;
  }

  .line h3 {
    font-size: 1.1rem;
  }

  .line ul li {
    font-size: 0.95rem;
  }
}

/* --------------LOGIN-------------- */

.auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth_container {
  width: 490px;
  height: auto;
  border-radius: 20px;
  background-color: white;
}

.auth_upper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth_reg_upper {
  margin: 20px 0px;
}

.auth_upper div {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: grey;
}

.auth_upper h1 {
  color: black;
  font-family: "Bruno Ace", sans-serif;
  font-weight: 500;
}

.auth_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.group {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 30px;
  padding: 0px 15px;
  background-color: #e7e7e7;
}

.group input {
  width: 88%;
  padding: 18px 0px;
  text-align: center;
  border-radius: 25px;
  outline: none;
  border: none;
  font-size: 1.16rem;
  background-color: #e7e7e7;
  margin: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #e7e7e7 inset;
}

.group:focus-within {
  outline: 2px solid #333433;
  box-shadow: 0 0 5px #333433;
}

.auth_form button {
  width: 88.3%;
  border-radius: 30px;
  padding: 17px 0px;
  font-size: 1.16rem;
  color: white;
  background-color: #57b846;
  border: none;
  font-size: 1.16rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.auth_form button:hover {
  background-color: #333433;
}

.auth_form button:focus {
  transform: scale(0.97);
}

.forget {
  color: rgb(102, 98, 98);
  font-size: 1.1rem;
  text-align: center;
}

.forget a {
  color: red;
  font-weight: 550;
  transition: all ease-in-out 0.1s;
}

.forget a:focus {
  color: green;
}

.or {
  font-size: 1.05rem;
  font-weight: 550;
}

.eye {
  padding-top: 5px;
  margin-right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .auth_container {
    width: 400px;
  }

  .auth_upper h1 {
    font-size: 1.8rem;
  }

  .auth_form input .forget {
    font-size: 1.05rem;
  }

  .forget a {
    font-size: 1rem;
  }

  .auth_upper div {
    width: 120px;
    height: 120px;
  }

  .line {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .auth_container {
    width: 350px;
  }

  .auth_upper h1 {
    font-size: 1.5rem;
  }

  .auth_form input {
    font-size: 1.1rem;
    text-align: left;
  }

  .forget a {
    font-size: 0.9rem;
  }

  .group {
    gap: 20px;
  }
}

@media screen and (max-width: 370px) {
  .auth_upper div {
    width: 100px;
    height: 100px;
  }

  .auth_upper div img {
    width: 30px;
  }

  .auth_container {
    width: 320px;
  }

  .auth_upper h1 {
    font-size: 1.5rem;
  }

  .auth_upper h1 {
    font-size: 1.4rem;
  }

  .auth_form button {
    font-size: 1.05rem;
  }
}

/* -----------Dashboard--------- */

.adminForm {
  width: 100%;
  height: 80vh;
  text-align: center;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  display: block;
  padding: 10px;
  width: 400px;
  margin-top: 10px;
  padding: 17px 5px;
  border-radius: 5px;
}

.formBtn {
  margin-top: 15px;
  padding: 18px 0px;
  width: 420px;
  background-color: #23ce6b;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: all ease-in-out 0.2s;
}

.formBtn:hover {
  background-color: #157c40;
}

.logout {
  margin-top: 15px;
  width: 100px;
  padding: 13px 0px;
  background-color: #23ce6b;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  position: absolute;
  right: 5%;
  top: 0%;
  transition: all ease-in-out 0.2s;
}

.logout:hover {
  background-color: #157c40;
}

.line ul li {
  color: rgb(228, 224, 224);
}

@media screen and (max-width: 500px) {
  input {
    width: 350px;
  }

  .formBtn {
    width: 360px;
  }
}

/* ______________-Button________________ */

.btn-79,
.btn-79 *,
.btn-79 :after,
.btn-79 :before,
.btn-79:after,
.btn-79:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-79 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn-79:disabled {
  cursor: default;
}

.btn-79:-moz-focusring {
  outline: auto;
}

.btn-79 svg {
  display: block;
  vertical-align: middle;
}

.btn-79 [hidden] {
  display: none;
}

.btn-79 {
  --height: 80px;
  background: none;
  border-radius: 999px;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  height: var(--height);
  -webkit-mask-image: none;
  padding: 0 3rem;
  position: relative;
  text-transform: uppercase;
}

.btn-79 span {
  font-weight: 900;
  mix-blend-mode: difference;
}

.btn-79:before {
  background: #fff;
  border-radius: 20px;
  content: "";
  height: calc(var(--height) / 1.7);
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s;
  width: calc(var(--height) / 1.7);
}

.btn-79:hover:before {
  left: 0;
  width: 100%;
}
